{% extends 'layout.html' %}
{% load static %}
{% load humanize %}


{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>


<div class="row">
    <div class="col-md-12">
       
        {% if movies %}
            {% for movie in movies %}
            <div class="card mb-3">
            <div class="row">
                <div class="col-md-3">
                    <img src="{% static movie.get_image_path %}" alt="" class="card-img">

                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="card-title">
                             </div>
                <p class="card-text">{{ movie.description }}</p><p class="card-text"><small class="text-muted">{{ movie.created_date | timesince }}</small></p></div>
                </div>
            </div>

            </div>
            {% endfor %}

        {% else %}
        <div class="alert alert-warning">
            <p>No movies</p>
        </div>

        {% endif %}
    
    </div>
</div>


{% endblock %}